html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.lt_container {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.lt_header {
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #069;
  display: flex;
}
.lt_header .icon_left,
.lt_header .icon_right {
  width: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.lt_header .title {
  flex: 1;
}
.lt_header .title h4 {
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin: 0;
}
.lt_footer {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #069;
}
.lt_footer ul {
  display: flex;
}
.lt_footer ul li {
  flex: 1;
  text-align: center;
  padding-top: 5px;
}
.lt_footer ul li.now a {
  color: orange;
}
.lt_footer ul li.now a p {
  color: orange;
}
.lt_footer ul li a {
  color: #fff;
}
.lt_footer ul li a span {
  font-size: 20px;
}
.lt_footer ul li a p {
  color: #fff;
}
.lt_main {
  position: absolute;
  width: 100%;
  top: 45px;
  bottom: 55px;
}

.search {
  position: relative;
  padding: 10px;
}
.search .text-search {
  border-color: blue;
  height: 34px;
  font-size: 12px;
}
.search .btn-search {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 3px 3px 0;
  background-color: blue;
  color: #fff;
}
